<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imbuiment Calculator</title>
    <%=stylesheet_link_tag ref='home.css'%>
</head>
<body>
    <div>
testando
    </div>
</body>
</html>